---
import { HomeIntro } from "../components/HomeIntro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "오복소복";
const description = "Notion 콘텐츠를 빌드 타임에 가져오는 Astro 정적 사이트";
---

<BaseLayout title={title} description={description}>
  <main>
    <HomeIntro />
  </main>
</BaseLayout>
