.hero {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, calc(19.66px + 1.205vw), 32px);
}

.heading,
.description {
  margin: 0;
}

.heading {
  font-size: clamp(24px, calc(19.66px + 1.205vw), 32px);
  font-weight: 600;
  line-height: 1.3;
}

.description {
  font-size: clamp(14px, calc(10.75px + 0.904vw), 20px);
  font-weight: 500;
  line-height: 1.5;
}

.mobileBreak {
  display: block;
}

@media (min-width: 640px) {
  .mobileBreak {
    display: none;
  }
}
