.page {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 80px 16px 120px;
}

@media (min-width: 768px) {
  .page {
    padding-inline: 30px;
  }
}

@media (min-width: 1024px) {
  .page {
    padding-inline: 40px;
  }
}
