---
import { SiteHeader } from "../components/SiteHeader";
import "../styles/global.css";

type Props = {
  description: string;
  title: string;
};

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <SiteHeader />
    <slot />
  </body>
</html>
